
<div class="max-w-sm w-full lg:flex mb-10">
  <div class="border-r border-b border-l border-gray-400 lg:border-l-1 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col">
    <div class="mb-8">
      <p class="text-sm text-gray-600 flex items-center">
        <strong>Ratings:</strong>
        <span><%= recipe.ratings %></span>
      </p>

      <div class="text-gray-900 font-bold text-xl mb-2"><%= recipe.title %>
      <%if recipe.author %>
        <p class="text-sm text-gray-600 flex items-center">
        (By: <%= recipe.author&.name %>)
        </p>
      </div>
    <%end%>
    <p class="text-gray-700 text-base">
    <ul class="list-disc mx-10">
      <%recipe.ingredients.each do |ingredient|%>
        <li>
          <%=ingredient.name%>
          <%if ingredient.amount || ingredient.amount_type %>
            <span class="text-gray-400 leading-none">
            (<%=ingredient.amount%> <%=ingredient.amount_type%>)
          <%end%>
          </span>
        </li>
      <%end%>
    </ul>
    </p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src=<%=recipe.author&.image%> alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-gray-900 leading-none"><strong>Cook time: </strong><%= recipe.cook_time %></p>
        <p class="text-gray-900 leading-none"><strong>Preparation time: </strong><%= recipe.prep_time %></p>
        <%if recipe.category %>
          <p class="text-gray-900 leading-none"><strong>Category: </strong><%= recipe.category&.name %></p>
        <% end %>

        <p class="text-gray-600"><strong>Since</strong> <%=recipe.created_at.strftime("%B %d, %Y")%></p>
        <div class="mb-4">
          <% if action_name != "show" %>
            <div class="mb-4">
              <%= link_to "Show this recipe", recipe, class: "rounded-lg py-2 px-2 bg-blue-300 inline-block font-medium" %>
              <hr class="mt-6">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
