<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="recipes" class="min-w-full">
    <%= form_tag(recipes_path, method: :get, id: "filter-form") do %>
      <p><%= label_tag 'filters[ingredients][]', "Ingredient filter", class: "text-gray-600" %></p>
      
      <% 10.times do |ingredient_number| %>
        <%= text_field_tag 'filters[ingredients][]', nil, placeholder: "Ingredient #{ingredient_number}", class: "border border-gray-300 rounded-md px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      <% end %>

      <%= submit_tag "Filter", class: "bg-blue-500 text-white font-semibold px-4 py-2 mt-4 mb-5 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    <% end %>

    <%= render @recipes %>
    <div class="mx-auto text-center my-4">
    <%= paginate @recipes %>
    </div>
  </div>
</div>


